@media (max-width: 350px) {
    .text-type {
        font-size: 12px !important;
    }

    .office {
        font-size: 12px !important;
    }

    .number-type {
        font-size: 12px !important;
    }

    .sell-now-btn {
        width: 130px !important;
    }

    .all-announcement-btn {
        width: 130px !important;
    }
}

@media only screen and (min-width: 351px) and (max-width: 768px) {
    .text-type {
        font-size: 12px !important;
    }

    .office {
        font-size: 13px !important;
    }

    .number-type {
        font-size: 13px !important;
    }

    .sell-now-btn {
        width: 150px !important;
    }

    .all-announcement-btn {
        width: 150px !important;
    }

}

@media (max-width: 768px) {

    .menu-text-type{
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #6C6C6C;
    }
    .header-top {
        height: 20px;
        background-color: #CD0000;
    }

    .header-logo {
        height: 50px;
        background-color: white;
    }

    .carousel-indicators {
        bottom: -17px !important;
    }

    .car-image {
        height: 100%;
    }

    .sell-now-btn {
        width: 150px;
        height: 32px;
        background: #090B4D;
        border: none;
        float: right;
        text-align: center;
    }

    .sell-now {
        width: 55px;
        height: 16px;
        left: 65px;
        top: 8px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
    }

    .all-announcement-btn {
        width: 150px;
        height: 32px;
        background: #CD0000;
        border: none;
        float: left;
        text-align: center;
    }

    .all-announcement {
        left: 45px;
        top: 8px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-align: center;

    }


    .noqte100 {
        position: initial;
        width: 129px;
        /*height: 15px;*/
        /*left: 97px;*/
        /*top: 297px;*/

        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 42px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .noqte100-text {
        position: initial;
        width: 133px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 120%;
        /* or 11px */
        color: #7E7E7E;
        float: left;
        margin-top: -26px;
    }

    .credit {
        position: initial;
        width: 129px;
        /*height: 15px;*/
        /*left: 97px;*/
        /*top: 297px;*/

        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 42px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .credit-text {
        position: initial;
        width: 187px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 120%;
        /* or 11px */
        color: #7E7E7E;
        float: left;
        margin-top: -26px;
    }

    .barter {
        position: initial;
        width: 129px;
        /*height: 15px;*/
        /*left: 97px;*/
        /*top: 297px;*/
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 42px;
        letter-spacing: 0.05em;
        color: #000000;
        float: left;
    }

    .barter-text {
        position: initial;
        width: 170px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 120%;
        /* or 11px */
        color: #7E7E7E;
        float: left;
        margin-top: -26px;
    }

    .search-auto {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-align: center;
        margin-top: 15px;
    }

    .select-brand {
        height: 39px;
        border-radius: 4px;

    }

    .select-text-type {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        color: #6C6C6C;
    }


    .graduation-year {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 0px;
        letter-spacing: 0.05em;
        margin-top: 25px;
        margin-left: 10px;
        color: #FFFFFF;
    }

    .price {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 0px;
        letter-spacing: 0.05em;
        margin-top: 25px;
        margin-left: 10px;
        color: #FFFFFF;
    }

    .azn {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        margin-top: 15px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .usd {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        margin-top: 15px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
.kredit{
    margin-left: 10px;
margin-top: 15px;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.barter2{

    margin-top: 15px;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
.search-btn{
    height: 36px;
    background: #CD0000;
    border-radius: 4px;
}

.search-text{
    width: 48px;
    height: 20px;
    left: 182px;
    top: 901px;

    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.search-details-btn{

    height: 36px;
    background: #AAAAAA;
    border-radius: 4px;
    margin-top: 15px;
}
.search-details-text{
    width: 145px;
    height: 20px;
    left: 134px;
    top: 950px;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}
.auto-card{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 0.725px solid rgba(170, 170, 170, 0.13);
    box-sizing: border-box;
    box-shadow: 0px 2.9px 2.9px rgba(0, 0, 0, 0.25);
}

.car-name{
    left: 4.58%;
    right: 57.5%;
    top: 65.66%;
    bottom: 26.97%;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #000000;
}
.car-year{
    left: 4.58%;
    right: 13.75%;
    top: 74.19%;
    bottom: 18.44%;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 6px;
    letter-spacing: 0.01em;
    color: #6C6C6C;
}
.car-text{
    left: 4.61%;
    right: 30.51%;
    top: 83.21%;
    bottom: 3.57%;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size:11px;
    line-height: 11px;
    letter-spacing: 0.01em;
    color: #C4C4C4;

}
.priceMob{
    position: absolute;bottom: 0;right: 0;background: #DC1616;
    width: 124px;font-weight: 700;color: #ffffff;display: flex;align-items: center;justify-content: center;
}
.autopegasus-work{
    font-family: Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 65px;
    color: #5B5B5B;
    text-align: center;
}
    /*Footer*/
    .footer-container {
        background-color: #090B4D;
        height: 100%;
    }

    .vector-logo {
        margin-left: 40% !important;
    }

    .text-type {
        text-decoration: none !important;
        position: absolute;
        line-height: 30px;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
    }

    .text-type:hover {
        color: #ffbc4d;
    }

    .address {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 0px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
    }

    .office {
        font-family: Mark Pro;
        font-style: normal;
        font-size: 15px;
        text-align: center;
        color: #FFFFFF;
        line-height: 25px;
    }

    .call {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 0px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;

    }

    .number-type {
        font-family: Mark Pro;
        font-style: normal;
        font-size: 15px;
        text-align: center;
        color: #FFFFFF;
        line-height: 25px;
    }

    .copyright {

        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 10px;
        color: #FFFFFF;
        text-align: center;

    }

    .arrow {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: darkcyan;
        text-align: center;
        position: fixed;
        right: 40px;
        bottom: 20px;
    }

    .arrow a {
        font-size: 25px;
        text-decoration: none;
        color: white !important;

    }
}